name: Deploy Hexo

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        
    - name: Install dependencies
      run: |
        npm install hexo-cli -g
        npm install
        
    - name: Generate and deploy
      run: |
        hexo clean
        hexo generate
        hexo deploy
      env:
        GIT_USER: liudungenn
        GIT_EMAIL: liudungen@163.com
        DEPLOY_REPO: liudungenn/liudungenn.github.io
        DEPLOY_BRANCH: main
