name: Deploy Hexo to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Dependencies
      run: npm install

    - name: Generate Static Files
      run: npx hexo generate

    - name: Deploy
      run: |
        git config --global user.name "liudungen"
        git config --global user.email "liudungen@163.com"
        npx hexo deploy